.container {
    display: flex;
    height: calc(100vh - 60px);
}

.left {
    width: 50%;
    height: 100%;
    background-color: #00311f;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

/* Mobile layout: image top, text bottom */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .right {
    width: 100%;
    height: 100vh;
  }

  .left {
    width: 100%;
    padding: 20px;
  }
}
